# Page Not Found - Meta for Developers

_Source: https://developers.facebook.com/docs/development/create-an-app/docs/development/release/business-verification_

---

Sorry, the link you followed may be broken, or the page may have been removed.

[Search for **development create an app docs development release business verification** on developers.facebook.com](https://developers.facebook.com/search/?q=development+create+an+app+docs+development+release+business+verification&notfound=1)
